*{
  border: 1px solid gold;
}

body {
  background: blanchedalmond;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  padding: 0.5em;
  text-align: center;
}

.a {
  flex-grow: 1;
  margin-bottom: 0.5em; 
}
.b {
  min-height: 60vh;
  flex-grow: 4;
  margin-bottom: 0.5em;

}
.c {
  flex-grow: 1;
}

@media (min-width: 600px) {
  .container{
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .a {
    width: 100%;
    padding: 5em;
  }
  .b {
    max-width: 75%;
    height: 36em;
  }
  .c {
    max-width: 24%;
    height: 36em;
  }
}